.container {
  padding: 0 2rem;
  background-color: #1A1A1F;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 40px 40px 40px 60px;
  text-align: left;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 40rem;
  background-color: rgb(46, 46, 51);
}

/*.card:hover,*/
/*.card:focus,*/
/*.card:active {*/
/*  color: #0070f3;*/
/*  border-color: #0070f3;*/
/*}*/

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.5;
}

.joblist {
  display: flex;
}

.creatorThumb {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -100px;
  margin-top: -50px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.userInfo {
  display: flex;
  margin-top: 10px;
}

.userInfo p {
  font-size: 1rem;
  margin-left: 20px;
}

/* styles/Carousel.css */

/* 슬라이드 컨테이너 */
.carouselWrapper {
  width: 100%;
  /*max-width: 600px; !* 적절한 너비 설정 *!*/
  /*background-color: white;*/
  margin: 0 auto;
  padding: 20px;
}

/* 슬라이드 이미지 스타일 */
.carouselWrapper img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 이전/다음 화살표 스타일 */
.carousel .control-arrow {
  font-size: 24px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.carousel .control-arrow:hover {
  background-color: #333;
  color: white;
}

/* 슬라이드 인디케이터 스타일 (썸네일 없을 때) */
.carousel .carousel-status {
  display: none;
}

/* 슬라이드 버튼 컨테이너 */
.carousel .carousel-slider {
  margin-top: 10px;
}

/* 슬라이드 버튼 스타일 */
.carousel .slide {
  background-color: transparent;
  outline: none;
}

/* 슬라이드 버튼 아이콘 스타일 */
.carousel .slide .legend {
  display: none;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
